{% extends 'base.html' %} 
{% load static %}
{% block meta %}
<title>Add New Product</title>
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="content vh-75 d-flex justify-content-center align-items-center">
  <div class="w-100" style="max-width: 400px;">
    <h2 class="title">Add New Product</h1>

    <div class="content">
      <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-floating {% if not forloop.first %}mt-4{% endif %}">
            {{ field }}
            <label for="{{ field.id_for_label }}">
              {{ field.label }}
            </label>
            {% for error in field.errors %}
              <p class="mt-1 fs-6 text-danger">{{ error }}</p>
            {% endfor %}
            </div>
            {% endfor %}
            <div class="d-grid my-3">
              <button class="btn btn-primary" type="submit" value="Add Product">Add Product</button>
            </div>    
            <div class="d-grid my-3">
              <a href="{% url 'main:show_main' %}" class="w-100"><button class="btn btn-secondary w-100" type="button">Back</button></a>
            </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}