{% extends 'base.html' %}

{% block meta %}
<title>Login - Jokes Come True</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' with login=True %}
<div class="content vh-75 d-flex justify-content-center align-items-center">
    <div class="w-100" style="max-width: 400px;">
        <h2 class="my-4 text-center">Login</h2>
        <form method="POST" action="" class="w-100">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input id="username" name="username" type="text" required class="form-control form-control-border mt-1" placeholder="Username">
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input id="password" name="password" type="password" required class="form-control form-control-border" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <div class="d-grid mb-2">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

            {% if messages %}
                <div class="d-grid mt-2">
                {% for message in messages %}
                    {% if message.tags == "success" %}
                        <p class="mt-1 text-success fs-6 text-center">{{ message }}</p>
                    {% elif message.tags == "error" %}
                        <p class="mt-1 text-danger fs-6 text-center">{{ message }}</p>
                    {% else %}
                        <p class="mt-1 text-primary fs-6 text-center">{{ message }}</p>
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %} 
            <div class="text-center">
                Don't have an account yet?
                <a href="{% url 'main:register' %}">Register now</a>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
