{% extends 'base.html' %}

{% block meta %}
<title>Jokes Come True</title>
{% endblock meta %}

{% block content %}
<div class="title">
    <h1>Jokes Come True</h1>
    <h3>Welcome, {{ name }}</h3>
</div>

{% if not products %}
<h2 class="title">Nothing to see here yet!</h2>
{% else %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <table class="table align-middle mx-auto my-4">
        <thead>
          <tr class="table-secondary">
            <th>Product Name</th>
            <th>Description</th>
            <th>Price (Jade Feathers)</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for product in products %}
          <tr>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}

<br />

<div class="text-center d-flex flex-column align-items-center">
  <a href="{% url 'main:create_product' %}">
    <button class="btn btn-primary my-2">Add New Product</button>
  </a>
  <a href="{% url 'main:logout' %}">
    <button class="btn btn-primary my-2">Logout</button>
  </a>
  <h5 class="title">Last login: {{ last_login }}</h5>
</div>
{% endblock content %}