{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jokes Come True</title>
{% endblock meta %}


{% block content %}
{% include 'navbar.html' %}

<div class="content">
  {% if not products %}
  <div class="d-flex flex-column justify-content-center align-items-center">
    <img src="{% static 'image/sad_image.png' %}" alt="Crying girl" class="img-fluid" width="100" height="100" />
    <h3 class="title mt-3">You do not have any products!</h3>
  </div>
  {% else %}
  <div class="container">
    <h1 class="title mb-3">Products</h1>
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4 mx-auto">
      {% for product in products %}
        {% include 'product_card.html' with product=product %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>

<br />

<div class="text-center d-flex flex-column align-items-center">
  <h5 class="title">Last login: {{ last_login }}</h5>
</div>
{% endblock content %}